{# Adapted from ezpublish_legacy/design/standard/templates/content/datatype/view/ezxmltags/factbox.tpl #}
<div class="factbox" style="background-color: #eee;"{# TODO: Move style to a file #}>
    {{ content|raw }}
</div>
